.header__main {
    width: 100vw;
    height: 90px;
    padding: 10px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header__logo {
    background: url("../../imgs/logo.svg") no-repeat center;
    background-size: contain;
    width: 17%;
    height: 100%;
    cursor: pointer;
}

.header__middle{
    display: flex;
    align-items: center;
    width: 35%;
}

.middle__search{
    padding: 10px 10px;
    font-size: 18px;
    height: 50px;
    width: 100%;
    border: 3px solid #05A8F1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.middle__find{
    cursor: pointer;
    padding: 10px 10px;
    font-size: 18px;
    height: 50px;
    width: 160px;
    color: #e9e9e9;
    background: linear-gradient(253.2deg, #27EF9F -9.93%, #05A8F1 84.97%);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header__right{
    display: flex;
    align-items: center;
}

.right__favorite{
    cursor: pointer;
    background: url("../../imgs/heart.svg") no-repeat center;
    width: 30px;
    height: 30px;
    background-size: contain;
    margin: 0 30px 0 0;
    position: relative;
}

.favorite__number{
    position: absolute;
    height: 20px;
    top: -10px;
    right: -15px;
    color: #e1e1e1;
    font-weight: 500;
    background-color: #f91155;
    border-radius: 8px;
    padding: 0 8px
}

.right__basket{
    width: 30px;
    height: 30px;
    background: url("../../imgs/basket.svg") no-repeat center;
    background-size: contain;
    margin-right: 30px;
    cursor: pointer;
    position: relative;
}

.right__image{
    cursor: pointer;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid #d7d7d7;
    position: relative;
}

.header__userImage{
    display: none;
}

.image__span1{
    position: absolute;
    width: 35px;
    height: 1px;
    background-color: #d7d7d7;
    top: 50%;
    right: 25%;
}

.image__span2{
    position: absolute;
    width: 35px;
    height: 1px;
    background-color: #d7d7d7;
    transform: rotate(90deg);
    top: 50%;
    right: 25%;
}

.media__425{
    display: none;
}

.header__sort{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 25px;
}

.sort__label{
    display: flex;
    flex-direction: column;
    color: #333333;
    font-size: 14px;
}

.sort__select{
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 6px 10px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 16px;
    color: black;
    margin-bottom: 20px;
}

/* media */

@media (max-width: 1024px) {
    .header__main{
       padding: 10px 20px;
    }

    .header__sort{
        padding: 0 20px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .middle__search{
        font-size: 14px;
        height: 35px;
    }

    .middle__find{
        font-size: 14px;
        height: 35px;
        width: 100px;
    }

    .right__favorite{
        width: 20px;
        height: 20px;
    }

    .right__basket{
        width: 20px;
        height: 20px;
        background: url("../../imgs/basket.svg") no-repeat center;
        background-size: contain;
        margin-right: 15px;
        cursor: pointer;
    }

    .header__main{
        padding: 10px 10px;
    }

    .header__sort{
        padding: 0 10px;
    }

    .right__image{
        width: 35px;
        height: 35px;
    }

    .image__span1{
        width: calc(35px / 2);
    }

    .image__span2{
        width: calc(35px / 2);
    }
}

@media (max-width: 425px) {
    .header__main{
        padding: 10px 5px;
        margin-bottom: 10px;
    }

    .header__sort{
        padding: 0 5px;
    }

    .media__425{
        display: flex;
        width: 100%;
        padding: 0 5px;
        margin-bottom: 15px;
    }

    .media__1024{
        display: none;
    }

    .middle__search{
        width: 100%;
    }

    .middle__find{
        width: 160px;
    }
}