@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #d7d7d7;
}

::-webkit-scrollbar-button{
    display: none;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(253.2deg, #27EF9F -9.93%, #05A8F1 84.97%);
    border-radius: 20px;
}

body{
    overflow-x: hidden;
    margin: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #333;
}

button, input, select{
    font-family: Montserrat, sans-serif;
    border: none;
    outline: none;
    color: #333333;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    color: #333333;
    font-weight: 400;
}